body {
    background-color: #03dada85;
    margin: 0;
    margin-left: 0.1%;
    font-family: sans-serif;
}

a,
h1,
p {
    font-family: sans-serif;
}

.navigation {
    display: flex;
    align-items: flex-end;
}

.navigation a {
    margin-left: 10px;
}

a:hover {
    border: thin solid;
}

a {
    background-color: rgba(0, 200, 226, 0.226);
    text-decoration: none;
    max-width: 500px;
    border: thin solid transparent;
}

#logo {
    width: 100px;
}

.überschrift {
    text-align: center;
}

.überschrift p {
    text-align: left;
}

#turtle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 2;
    grid-gap: 0px;
}

#turtle img {
    width: 95%;
    height: 90%;
}

@media screen and (max-width: 648px) {
    #turtle {
        display: grid;
        grid-template-columns: 2fr;
    }
    .image_link {
        margin-bottom: 20px;
    }
}

#map_text {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#map_text img {
    width: 99%;
    height: 90%;
    margin-top: 15px;
}

#map_text p {
    max-width: 98%;
    margin-left: 10px;
}

@media screen and (max-width: 750px) {
    #map_text,
    #map_text p {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 0.1%;
    }
    #map_text img {
        width: 90%;
        margin-left: 0.1%;
    }
}

#video_animals {
    text-align: center;
}

#video_animals iframe {
    width: 90%;
    height: 500px;
}

#video_reference {
    text-align: center;
}

main {
    text-align: center;
}

main #impressum {
    text-align: justify;
    margin-left: 41.5%;
    margin-top: 20px;
    list-style: none;
}

footer {
    margin-top: 20%;
    text-align: center
}